<mat-dialog-content [formGroup]="form">

  <mat-form-field>
      <input matInput
              placeholder="title"
             formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput
            placeholder="dateDebut"
           formControlName="dateDebut">
</mat-form-field>
<mat-form-field>
  <input matInput
          placeholder=" dateFin"
         formControlName=" dateFin">
</mat-form-field>
<mat-form-field>
  <input matInput
          placeholder="lieu"
         formControlName="lieu">
</mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
