<form [formGroup]="form" (ngSubmit)="onSub()">
    <mat-form-field appearance="fill">
    
        <input matInput placeholder="Cin" formControlName="cin">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        
        <input matInput placeholder="Name" formControlName="name">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        
        <input matInput placeholder="Type" formControlName="type">
        
      </mat-form-field>
      <mat-form-field appearance="fill">
        
        <input matInput placeholder="Date" formControlName="createdDate">
        
      </mat-form-field>
      <button type="submit">Submit</button>
    </form>